<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="model.Game">
  <!-- 대소문자 구분 안함 -->
  	<resultMap type="model.Game" id="gameResultMap">
  		<id property="game_no" column="game_no"></id>
  		<result property="name" column="name"></result>
  		<result property="description" column="description"/>
  		<result property="image" column="image"/>
  		<result property="open_date" column="open_date"/>
  		<result property="state" column="state"/>
  	</resultMap>
  	
  	<select id="select" parameterType="int" resultMap="gameResultMap">
  		select * from game where game_no = #{game_no}
  	</select>
  	
  </mapper>
  
 